h1, h2, h3{
    font-family: arial;
}
h1{
    font-size: 1.8em;
}
h2{
    font-size: 1.5em;
}
h3{
    font-size: 1.4em;
}
.hoofd1{
    font-family: "Times New Roman";
    font-size: 1.2em;
    color: red;
}
.hoofd2{
    font-family: "Times New Roman";
    font-size: 1.2em;
    color: green;
}
.hoofd3{
    font-family: "Times New Roman";
    font-size: 1.2em;
    color: blue;
}