html{
    margin:0px;
    padding:0px
}
body{
    font-family: arial, helvetica Verdana,sans-serif;
    font-size: 1.2em;
}
#wrapper{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
h1, h2{
    color: rgb(0, 126, 126);
}
h1{
    font-size: 150%;
}
h2{
    font-size: 130%;
}
aside h1{
    color: black;
}
aside h2{
    color: red;
}
footer{
    font-size: 50%;
    clear: both;
    text-align: center;
}
aside a:hover{
    background-color: saddlebrown;
}
header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#elixirs {
    width: 30%;
    float: right;
    border:1px solid #007e7e;
    padding: 2%;
    box-sizing: border-box;
    text-align:          center;
    background:    url("../images/cocktail.gif")repeat-x;
    line-height:         1;
}


#content{
    float: left;
    width: 69%;
    padding-right:  8px;
    box-sizing: border-box;
}
#guarantee{
    margin: 30px;
    padding: 25px 25px 25px 80px;
    color: #444444;
    border: 1px dotted black;
    background: #a7cece url("../images/background.gif")no-repeat left top;
}
.cd{
    font-style: italic;
}
.artist{
    font-weight: bold;
}