.container{
display: grid;
    column-gap: 5px;
    row-gap: 5px;
}

.container .block{
    padding:20px;
    color: white;
    font-size: 4em;
    font-weight:bold;
    text-align:center;
}

.block.block1{
    background-color:darkred;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-end: 4;
 }
.block.block2{
    background-color:mediumpurple;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}
.block.block3{
    background-color:lightblue;
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-end: 3;
}
.block.block4{
    background-color:lightcyan;
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-end: 4;
}
.block.block5{
    background-color: lightpink;
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-end: 4;
}
.block.block6{
background-color: darkred;
    grid-column-start: 1;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-end: 3;
}
.block.block7{
background-color: mediumpurple;
    grid-column-start: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-end: 4;
}
.block.block8{
background-color: lightblue;
    grid-column-start: 1;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-end: 4;
}
