/** Volgende CSS gaan we ze geven **/
header  img{
    height: 50px;

}
.respimg {
    width: 100%;
    height: auto;
    display: block;
}
*{
    margin:0;
}
body{
    font-family: helvetica,sans-serif;
}
h1{
    text-transform: uppercase;
    font-size: 2.5em;
    border-bottom: 2px solid black;
    color: black;
    margin-bottom: 1em;
    padding-bottom: 1em;
}
h2{
    font-size: 1.5em;
    margin-bottom: 1em;
}

header{
    border-bottom: 1px solid #ebe8e8;
    margin: 0 auto;
    width: 600px;
}
nav ul{
    list-style-type: none;
    display:grid;
    grid-template-columns:repeat(7, 1fr);
    padding: 10px 0;
}
nav{
    margin: 0 auto;
    width: 600px;
}
nav li{
    text-align: center;
    padding: 10px 0;
    border-right: 1px solid #ebe8e8;
    text-transform: uppercase;

}
nav ul li a{
    text-decoration: none;
    color: #5b4746;
    font-size: 13px;
}
nav ul li a:hover{
    text-decoration: underline 2px #fff100;
}
nav li:last-child {
    border-right: none;
}
main{
    border-top: 1px solid #ebe8e8;
}
main header{
    background-image: url("../images/headerimage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main header p{
    color: white;
    font-size: 40px;
    text-shadow: #8dd9ae 2px 2px;
}
main .recipes{
    margin-top: 50px;
    width: 600px;
}
.recipes div{
    display: grid;
    grid-template-columns:auto auto;
    column-gap: 15px;
}
.recipes{
    margin: 0 auto;
}
article{
    font-size: 1em;
    border-top: 1px solid #ddd;
}
h3{
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: 1px;
    color: #ff4d56
}
article h2 a{
    text-decoration: none;
    color: black;
}
article p{
    color: #666;
    line-height: 2;
}
.author{
    padding-right: 10px;
    border-right: 1px solid #ebe8e8;
    font-style: italic;
}
.date{
    color: #666666;
    padding-left: 10px;
}
section {
    margin-top: 50px;
}
.recipes{
    margin: 0 auto;
}
.recommended{
    margin: 0 auto;
}
.recommended img {
    margin-bottom: 25px;
}
#left{
    float: left;
    width: 50%;
    text-align: right;
    padding: 20px;
}
#right{
    float: right;
    width: 50%;
    text-align: left;
    padding: 20px;
}
footer{
    width: 100%;
    border-top: 1px solid #ebe8e8;
}
@media screen and (min-width: 770px){
    header, nav, main .recipes, .recommended  {
        width: 750px
    }
}
@media screen and (min-width: 1000px){
    header,nav, main .recipes, .recommended  {
        width: 980px
    }
}
@media screen and (min-width: 800px){
    main header p{
        font-size: 5em;
    }
}