body{
    background: #333;
    font-family: helvetica;
    margin: 5px;
    padding: 10px;
}
header, footer{
    background: #ddaa00;
}
header, footer > a{
    color: #ddaa00;
}
nav{
    background-color: #ccc;
    display: flex;
}
footer > p{
    font-size: 1em;
}
section{
    margin: 5px;
}
nav > a {
    background-color: white;
    color: #ddab00;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
}
h1{
    margin: 0;
    color: white;
    text-align: center;
}
body nav{
    padding: 5px 2px;
}
body img{
    padding:0;
}
section a {
    border: 1px solid #333      ;
}
main{
    display: flex;
    flex-direction: column;
}