body {
    width: 95%;
    margin: 0 auto;
    font-family: Verdana, helvetica, Arial, sans-serif;
    font-size: 1.2em;
}
h1, h2{
    color: rgb(0, 126, 126);
}
h1{
    font-size: 1.5em;
}
h2{
    font-size: 1.3em;
}
footer{
    font-size: 0.5em;
    text-align: center;
}
header p img {
    display: block;
    margin: 0 auto;
    height: 250px;
}
.colorbox{
    margin: 30px;
    padding: 20px;
    color: #444444;
    background-color: #a7cece;
    border: 3px dotted white;
}
.colorbox:before{
    content: "";
    background: url(../images/background.gif) no-repeat center;
    float: left;
    width: 50px;
    height: 50px;
    background-size: cover;
}
a{
    color: inherit;
    text-decoration: underline;
}
.left{
    width: 70%;
    float: left;
}
.right{
    float: right;
    background: url(../images/cocktail.gif) repeat-x top center;
    background-size: 20% auto;
    border: 1px solid  #a7cece;
    width: 28%;
    padding-top: 60px;
}
.right h1{
    color: black;
    text-align: center;
}
.right h2 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #ab3bc5;
}
.right p{
    text-align: center;
    max-width: 250px;
    margin: 10px auto;
}
.right img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
}
.alles {
    overflow: hidden;
}
.right a:hover{
    color: saddlebrown;
}