body{
    width:95%;
    margin:0 auto;
    font-family: arial, helvetica, sans-serif;
}
header{
    background-image: url(../images/bgsky3.jpg);
    background-repeat: no-repeat;
    height: 200px;
    text-align: center;
    color: darkblue;
    background-size: cover;
    margin-top: auto;
}
header img{
    position: absolute;
    top: 5%;
    margin-right: 250px;
    margin-bottom: 60px;
}
header h1{
    font-size: 300%;
    font-style: italic;
    font-weight: bold;
}header h2{
    font-size: 240%;
    font-weight: bold;
 }
 .news{
     float: right;
     width: 25%;
     background-color: #dddddd;
     border: 1px solid #999999;
 }
 .news h3{
     color: white;
     background-color: blue;
     text-align: center;
     font-size: 120%;
 }
 .news p{
     color: #666666;
     font-size: 90%;
     padding: 10px;
 }
 main{
     width: 75%;
     margin-right: 10px;
 }
 main p{
     text-align: justify;
     margin: 20px 30px 20px 0;
 }
 main article span{
     color: blue;
     font-weight: bold;
     font-style: italic;
 }
 .airbuslogo{
     float: left;
     margin: 20px 20px 0 20px
 }
 .foto{
     height: 180px;
     width: 180px;
     display: inline-block;
     background-color: white;
     padding: 10px;
     border: 1px dotted #999999;
     margin: 20px;
 }
 .gallery{
    background-color: #999999;
 }
 aside{
     background-color: #666666;
     color: white;
     line-height: 2em;
 }
 .block{
     margin-left: 120px;
     display: inline-block;
 }
 a:hover{
     color: red;
 }
 footer{
     text-align: center;
 }