p{
    font-size: 1.25em;
}
article{
    border: 1px solid black;
    height: 260px;
    margin: 0 10px 10px 0;
}
article img {
    margin: 10px;
}
article:nth-of-type(even) img {
    float: right;
}
article:nth-of-type(odd) img{
    float: left;
}