main{
    display: grid;
    gap: 10px;
    grid-template-rows: repeat(4, auto);

}
.block{
    color: white;
    font-size: 4em;
    font-weight:bold;
    text-align:center;
}
.block.block1{
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: darkred;
}
.block.block2{
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: mediumpurple;
}
.block.block3{
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: lightblue;
}
.block.block4{
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: lightgreen;
}
@media (min-width: 772px) {
    .block.block1{
        grid-row-start: 1;
        grid-row-end: 2;
        background-color: darkred;
    }
    .block.block2{
        grid-row-start: 3;
        grid-row-end: 4;
        background-color: mediumpurple;
    }
    .block.block3{
        grid-row-start: 2;
        grid-row-end: 3;
        background-color: lightblue;
    }
    .block.block4{
        grid-row-start: 4;
        grid-row-end: 5;
        background-color: lightgreen;
    }
}
@media (min-width: 992px) {
    main{
        grid-template-columns: 1fr 2fr;
    }
    .block.block1{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 3;
        background-color: darkred;
    }
    .block.block2{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        background-color: mediumpurple;
    }
    .block.block3{
        grid-row-start: 3;
        grid-row-end: 4;
        background-color: lightblue;
    }
    .block.block4{
        grid-row-start: 3;
        grid-row-end: 4;
        background-color: lightgreen;
    }
}